body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  text-align: center;
  background-color: #f4f4f4;
}

.dashboard {
  padding: 20px;
}

.error {
  color: red;
  margin-bottom: 20px;
}

/* Large title */
.title {
  font-size: 1.5rem; /* Very big title */
  font-weight: bold;
  text-transform: uppercase;
}

/* Side by side totals section */
.totals {
  display: flex;
  justify-content: center;
  gap: 50px; /* Add space between items */
  margin-top: 20px;
}

.total-item {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between box and text */
  font-size: 14px; /* Smaller font size for totals */
  color: #333;
}

.total-item p {
  margin: 0px;
  font-size: 14px; /* Ensure totals are smaller */
  font-weight: normal;
  color: #555;
}

.total-item p:last-child {
  font-size: 16px;
  color: #007bff; /* Blue color for emphasis */
}

.room-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr); /* Default: 10 rooms per row */
  gap: 10px;
  margin-top: 8px;
}

.status-box {
  width: 20px; /* Width of the colored box */
  height: 20px; /* Height of the colored box */
  border-radius: 4px; /* Rounded corners */
}

.status-box.occupied {
  background-color: red;
}

.status-box.available {
  background-color: green;
}


/* For screens below 1000px, use 5 rooms per row */
@media (max-width: 1000px) {
  .room-grid {
    grid-template-columns: repeat(5, 1fr); /* 5 rooms per row */
  }
}

.room {
  font-family: "Montserrat",sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; /* Fixed width */
  height: 30vh; /* Fixed height */
  max-height: 12.5vh;
  background-color: lightgray;
  border-radius:  10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  box-sizing: border-box; /* Include padding in width and height */
}

.room-number {
  font-size: 17px; /* Adjust font size */
  font-weight: bold; /* Bold text */
  margin-bottom: 1px; /* Add space between room number and room name */
}

.room-name {
  font-size: 12px; /* Adjust font size */
}

.room-status {
  font-size: 12px; /* Adjust font size */
}

.room-number,
.room-name,
.room-status {
  line-height: 1.2; /* Control spacing between lines */
  word-wrap: break-word; /* Break long words */
  text-align: center; /* Center text */
  max-width: 100%; /* Prevent text overflow */
  overflow: hidden; /* Hide overflowing text */
  text-overflow: ellipsis; /* Add ellipsis for overflowing text */
}

.room:hover {
  opacity: 0.8;
}

.occupied {
  background-color: red;
  color: white;
}

.available {
  background-color: green;
  color: white;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
