body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  /* padding: 0; */
  text-align: center;
  background-color: #f4f4f4;
  /* padding: 1%; */
}





.dashboard {
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

.error {
  color: red;
  margin-bottom: 20px;
}

.room-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr); /* Default: 10 rooms per row */
  gap: 10px;
  margin-top: 10px;
}

/* For screens below 1000px, use 5 rooms per row */
@media (max-width: 1000px) {
  .room-grid {
    grid-template-columns: repeat(5, 1fr); /* 5 rooms per row */
  }
}

.room {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; /* Fixed width */
  height: 8vh; /* Fixed height */
  max-height: 8vh;
  background-color: lightgray;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  box-sizing: border-box; /* Include padding in width and height */
}

.room-number {
  font-size: 18px; /* Adjust font size */
  font-weight: bold; /* Bold text */
  margin-bottom: 2px; /* Add space between room number and room name */
}

.room-name {
  font-size: 12px; /* Adjust font size */
  /* font-weight: bold; Bold text */
  /* margin-bottom: 5px; Add space between room name and room status */
}

.room-status {
  font-size: 12px; /* Adjust font size */
  /* font-weight: bold; Bold text */
}

.room-number,
.room-name,
.room-status {
  line-height: 1.2; /* Control spacing between lines */
  word-wrap: break-word; /* Break long words */
  text-align: center; /* Center text */
  max-width: 100%; /* Prevent text overflow */
  overflow: hidden; /* Hide overflowing text */
  text-overflow: ellipsis; /* Add ellipsis for overflowing text */
}

.room:hover {
  opacity: 0.8;
}

.occupied {
  background-color: red;
  color: white;
}

.available {
  background-color: green;
  color: white;
}

.room:hover {
  opacity: 0.8;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
